body {
    color: white;
    background-color: black;
    font-family: "Bauhaus 93";
}
h1 {
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color:blue;
    color: blue;
}
h2 {
    border-width: 5px;
    border-style: solid;
    border-color: cyan;

    text-align: center;
}
.flotte {
    float:left;
}
img{
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
}
p {
    text-align: left;
}
nav {
    border-bottom: 1px solid black;
}
