body {
    color: white;
    background-color: black;
}
h1 {
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color:blue;
    color: blue;
}
h2{
    border-width: 5px;
    border-style: solid;
    border-color: cyan;
}
ul1{

}